<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="fileLogger" fileName="/home/vahid/logs/file-server.log" immediateFlush="true" filePattern="/home/vahid/logs/file-server-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>